// Global stylesheets
@import "global/variables";
@import "global/grid";
@import "global/type";
@import "global/base";

// Components
@import "components/animations";
@import "components/glide";
@import "components/cover";
@import "components/donate";
@import "components/language-switcher";
@import "components/about";
@import "components/villages";
@import "components/map";
@import "components/glossary";
