/**
 * Base Styles
 */

 html {
	font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, ::after, ::before {
  box-sizing: inherit;
}
body{
  margin: 0;
  font-family: $fontPrimary;
  font-size: $fontSize;
  line-height: 1.4;
  font-weight: 400;
  color: $text;
  fill: $text;
  background-color: #fff;
}

input,
textarea,
select,
button {
	font: inherit;
}

.hidden {
  opacity: 0;
}