@import url("https://use.typekit.net/grx1euv.css");

$fontPrimary: 'garamond-premier-pro', serif;
$fontDisplay : 'garamond-premier-pro-display', serif;
$fontSize: 2.1rem;

h1 {
  margin: 0;
  font-family: $fontDisplay;
  font-size: 8rem;
  line-height: 1;
  font-weight: 300;
  color: $textPale;
  @media screen and (max-width: $sm) {
    font-size: 5rem;
  }
}
h2 {
  margin: 50px 0;
  font-family: $fontDisplay;
  font-size: 2.6rem;
  font-weight: 400;
  text-align: center;
  color: $textPale;
}
h3 {
  margin: 0 0 10px;
  font-size: 1.8rem;
}
h4 {
  margin: 0 0 5px;
  font-size: 1.5rem;
}
a {
  color: $peach;
  text-decoration: none;
  box-shadow: inset 0 0 0 0 rgba($peach, 0.8);
  transition: box-shadow 0.2s ease-out;
  path {
    fill: $peach;
  }
  &:hover, &:focus {
    box-shadow: inset 0 -1px 0 0 rgba($peach, 0.8);
    transition-timing-function: ease-in;
  }
}
p {
  margin: 1.5rem 0;
}
.em {
  font-weight: 600;
}
.drop-cap {
  font-size: 34px;
  line-height: 1;
  &.close {
    position: relative;
    right: -2px;
  }
}

// Donate links
.donate-link-wrapper {
  text-align: center;
  a {
    display: inline-block;
    padding-left: 21px;
    font-family: $fontDisplay;
    font-size: 1.5rem;
    line-height: 21px;
    font-weight: 600;
    text-transform: uppercase;
    background-image: url(../assets/heart_red.svg);
    background-repeat: no-repeat;
    background-position: 0 1px;
    background-size: auto 15px;

  }
}
// Donate link in community story
.village .donate-link-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding-right: 20px;
}
// Donate link on welcome screen
.cover > .donate-link-wrapper {
  position: absolute;
  z-index: 100;
  top: 20px;
  left: 0;
  right: 0;
  @media screen and (min-width: 1201px) {
    left: auto;
    right: 40px;
  }
  @media screen and (min-height: 1001px) and (min-width: $lg) {
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    width: 100%;
    max-width: 1400px;
    padding-left: 45px;
    padding-right: 50px;
    text-align: right;
  }
}