.about {
  margin: 70px 0 35px;
  .container {
    max-width: 425px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .logo {
    display: block;
    text-align: center;
    box-shadow: none;
  }
  h2 {
    margin: 50px -20% -45px -25%;
    padding: 100px 20% 70px 25%;
    text-align: left;
    line-height: 1.15;
    background-image: url(../assets/about-separator.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    @media screen and (max-width: $sm) {
      padding-top: 80px;
      padding-bottom: 50px;
    }
  }
  p {
    text-indent: 35px;
  }
  .duet-link {
    text-decoration: none;
    img {
      display: block;
      margin: 0 auto;
      width: 120px;
    }
  }

  // Bottom menu
  .bottom-links {
    margin-top: 45px;
    ul {
      display: flex;
      justify-content: space-between;
      margin: 17px 0 0;
      padding-left: 0;
      list-style: none;
      li {
        a {
          display: block;
          padding: 6px 0 3px;
          font-family: $fontDisplay;
          font-size: 1.5rem;
          color: $text;
          text-transform: uppercase;
          transition-property: all;
          &:hover, &:focus,
          &.highlighted {
            color: $peach;
          }
          &.highlighted {
            font-weight: 600;
          }
        }
      }
    }
  }
}