// Donate links
.donate-link-wrapper {
  text-align: center;
  a {
    position: relative;
    display: inline-block;
    padding-left: 21px;
    font-family: $fontDisplay;
    font-size: 1.5rem;
    line-height: 21px;
    font-weight: 600;
    text-transform: uppercase;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 21px;
      height: 21px;
      background-image: url(../assets/heart_red.svg);
      background-repeat: no-repeat;
      background-position: 0 1px;
      background-size: auto 15px;
      -webkit-animation: heartbeat 2.5s cubic-bezier(0.600, 0.040, 0.980, 0.335) infinite both;
	            animation: heartbeat 2.5s cubic-bezier(0.600, 0.040, 0.980, 0.335) infinite both;
    }
  }
}
// Donate link in community story
.village .donate-link-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding-right: 20px;
  &:before {
    width: 20px;
  }
}
// Donate link on welcome screen
.cover .cover-links-wrapper {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  z-index: 100;
  top: 20px;
  left: 0;
  right: 0;
  .donate-link-wrapper {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 100;
  }
  .language-switcher {
    position: relative;
    z-index: 101;
  }
  @media screen and (min-height: 1001px) and (min-width: $lg) {
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    width: 100%;
    max-width: 1400px;
    padding-left: 45px;
    padding-right: 50px;
    text-align: right;
    .donate-link-wrapper {
      position: static;
      width: auto;
      margin-right: 15px;
    }
    .language-switcher {
      padding-right: 0;
    }
  }
}
.youth {
  .village .donate-link-wrapper,
  .cover .donate-link-wrapper {
    display: none !important;
  }
}


/* ----------------------------------------------
 * Generated by Animista on 2021-11-25 16:25:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}