.maps-section {
  .container {
    max-width: 425px;
    padding-left: 30px;
    padding-right: 30px;
  }

  // Map Peru
  .map-peru {
    position: relative;
    margin-bottom: 55px;
    .map-image {
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 580px;
      svg {
        width: 100%;
        height: auto;
      }
    }
    .map-descriptions {
      position: relative;
      z-index: 1;
      p {
        margin: 0 auto;
        max-width: 215px;
      }
    }
    .map-description {
      display: flex;
      align-items: center;
      height: 580px;
      padding-bottom: 60px;
      text-indent: 35px;
    }
  }

  // Bridge text between maps
  @media screen and (max-width: $sm) {
    .maps-bridge {
      padding-top: 70px;
    }
  }

  // Map Piura
  .map-piura {
    position: relative;
    margin: 60px -20px;
    padding-top: 119%;
    .map-piura-avatar {
      position: absolute;
      top: 0;
      left: auto;
      right: auto;
      width: 100%;
      height: 100%;
      background-image: url('../assets/piura_avatar.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      &.bounce {
        animation: bounce 200ms cubic-bezier(0.165, 0.840, 0.440, 1.000) 20 alternate;
      }
    }
    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      &.piura-bg {
        z-index: 1;
      }
      &.piura-communities {
        z-index: 3;
      }
      &.piura-communities-cerro {
        z-index: 4;
      }
    }
  }
}