.plane-container {
  position: relative;
  z-index: 10;
  margin-bottom: -30px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2.1rem;
  font-weight: 400;
  text-align: center;
  a {
    color: $text;
    transition-property: color;
    box-shadow: none;
    &:hover, &:focus {
      color: $peach;
    }
  }
  .plane-banner {
    position: relative;
    display: inline-block;
    height: 40px;
    padding: 5px 17px 4px 40px;
    border: 1px solid $text;
    border-left: none;
    transform: translateX(-88px);
    .community {
      font-weight: 600;
    }
    &:before,
    &:after {
      content: '';
      position: absolute;
    }
    &:before {
      top: -1px;
      left: 0;
      height: 40px;
      width: 24px;
      background-image: url(../assets/plane/banner-end.svg);
      background-repeat: no-repeat;
      background-position: left center;
      background-size: contain;
    }
    &:after {
      top: -11px;
      right: -164px;
      width: 164px;
      height: 74px;
      background-image: url(../assets/plane/plane-outline.svg), url(../assets/plane/plane-color.png);
      background-repeat: no-repeat;
      background-position: left center;
      background-size: contain;
    }
    .plane-fund-levels {
      position: absolute;
      z-index: -1;
      top: 0; right: -3px; bottom: 0; left: 22px;
      .level {
        display: inline-block;
        margin-right: -3%;
        margin-left: -11%;
        width: 38%;
        height: 100%;
        &.active {
          background-repeat: no-repeat;
          background-size: 100% auto;
          background-position: center;
        }
      }
      &.color-cream .level.active { background-image: url(../assets/plane/level-indicator-cream.png) }
      &.color-blue .level.active { background-image: url(../assets/plane/level-indicator-blue.png) }
      &.color-green .level.active { background-image: url(../assets/plane/level-indicator-green.png) }
    }
  }
  @media screen and (max-width: $sm) {
    font-size: 1.8rem;
    line-height: 1.1;
    .plane-banner {
      max-width: 170px;
      height: 56px;
      padding: 9px 12px 8px 30px;
      transform: translateX(-50px);
      &:before {
        left: -1px;
        height: 56px;
        background-image: url(../assets/plane/banner-end-large.svg);
      }
      &:after {
        top: 5px;
        right: -120px;
        width: 120px;
        height: 54px;
      }
      .plane-fund-levels {
        left: 20px;
        .level {
          width: 39%;
        }
        &.color-cream .level.active { background-image: url(../assets/plane/level-indicator-cream-tall.png) }
        &.color-blue .level.active { background-image: url(../assets/plane/level-indicator-blue-tall.png) }
        &.color-green .level.active { background-image: url(../assets/plane/level-indicator-green-tall.png) }
      }
    }
  }
}