.plane-container {
  position: relative;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2.1rem;
  font-weight: 400;
  text-align: center;
  a {
    color: $text;
    transition-property: color;
    box-shadow: none;
    &:hover, &:focus {
      color: $peach;
    }
  }
  .plane-banner {
    position: relative;
    display: inline-block;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 4px;
    border: 1px solid $text;
    .community {
      font-weight: 600;
    }
    &:before,
    &:after {
      content: '';
      position: absolute;
    }
    &:before {
      top: -1px;
      height: 40px;
      width: 24px;
      background-image: url(../assets/plane/banner-end.svg);
      background-repeat: no-repeat;
      background-position: left center;
      background-size: contain;
    }
    &:after {
      top: -11px;
      width: 164px;
      height: 74px;
      background-image: url(../assets/plane/plane-outline.svg), url(../assets/plane/plane-color.png);
      background-repeat: no-repeat;
      background-position: left center;
      background-size: contain;
    }

    // Fund levels
    .plane-fund-levels {
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      .level {
        display: inline-block;
        width: 38%;
        height: 100%;
        &.active {
          background-repeat: no-repeat;
          background-size: 100% auto;
          background-position: center;
        }
      }
      &.color-cream .level.active { background-image: url(../assets/plane/level-indicator-cream.png) }
      &.color-blue .level.active { background-image: url(../assets/plane/level-indicator-blue.png) }
      &.color-green .level.active { background-image: url(../assets/plane/level-indicator-green.png) }
    }
  }

  // Plane at the top
  &.plane-top {
    .plane-banner {
      margin-bottom: -30px;
      padding-right: 17px;
      padding-left: 40px;
      border-left: none;
      transform: translateX(-88px);
      &:before {
        left: 0;
      }
      &:after {
        right: -164px;
      }
      .plane-fund-levels {
        right: -3px;
        left: 22px;
        .level {
          margin-right: -3%;
          margin-left: -11%;
        }
      }
    }
  }

  // Plane at the bottom
  &.plane-bottom {
    .plane-banner {
      margin-top: 25px;
      padding-right: 40px;
      padding-left: 17px;
      border-right: none;
      transform: translateX(88px);
      &:before {
        right: 0;
        transform: rotate(180deg);
      }
      &:after {
        left: -164px;
        transform: scaleX(-1);
      }
      .plane-fund-levels {
        right: 22px;
        left: -3px;
        .level {
          margin-right: -11%;
          margin-left: -3%;
        }
      }
    }
  }

  @media screen and (max-width: $sm) {
    font-size: 1.8rem;
    line-height: 1.1;
    .plane-banner {
      max-width: 170px;
      height: 56px;
      padding-top: 9px;
      padding-bottom: 8px;
      &:before {
        height: 56px;
        background-image: url(../assets/plane/banner-end-large.svg);
      }
      &:after {
        top: 5px;
        width: 120px;
        height: 54px;
      }

      // Fund levels
      .plane-fund-levels {
        left: 20px;
        .level {
          width: 39%;
        }
        &.color-cream .level.active { background-image: url(../assets/plane/level-indicator-cream-tall.png) }
        &.color-blue .level.active { background-image: url(../assets/plane/level-indicator-blue-tall.png) }
        &.color-green .level.active { background-image: url(../assets/plane/level-indicator-green-tall.png) }
      }
    }

    // Plane at the top
    &.plane-top {
      .plane-banner {
        padding-right: 12px;
        padding-left: 30px;
        transform: translateX(-50px);
        &:before {
          left: -1px;
        }
        &:after {
          right: -120px;
        }
        .plane-fund-levels {
          left: 20px;
        }
      }
    }

    // Plane at the bottom
    &.plane-bottom {
      .plane-banner {
        padding-right: 30px;
        padding-left: 12px;
        transform: translateX(50px);
        &:before {
          right: -1px;
        }
        &:after {
          left: -120px;
        }
        .plane-fund-levels {
          right: 20px;
        }
      }
    }

  }
}