.villages {
  .container {
    display: flex;
    overflow-x: hidden;
    @media screen and (max-width: $md) {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
  .village {
    margin: 0 auto;
    max-width: 500px;
    h2 {
      margin: 30px 0 0;
      padding: 30px 50px;
    }
    .section {
      position: relative;
      padding-top: 12px;
      .counter {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        color: $peach;
      }
      .anchor {
        position: absolute;
        top: -90px;
      }
    }

    // Illustrations
    .sct-illustration {
      position: relative;
      width: 100%;
      max-width: 500px;
      transform: scale(1);
      transition: transform 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000);
      .coloring {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center top;
        opacity: 0;
      }
      &:hover {
        transform: scale(1.2);
      }
    }
    &.village-cerro-de-leones {
      &.fund-level-100 {
        .section-community .sct-illustration .coloring { background-image: url(../assets/communities-coloring/cerro/cerro_community-100.png); }
        .section-school .sct-illustration .coloring { background-image: url(../assets/communities-coloring/cerro/cerro_school-100.png); }
        .section-distance .sct-illustration .coloring { background-image: url(../assets/communities-coloring/cerro/cerro_distance-100.png); }
      }
      &.fund-level-75 {
        .section-community .sct-illustration .coloring { background-image: url(../assets/communities-coloring/cerro/cerro_community-75.png); }
        .section-school .sct-illustration .coloring { background-image: url(../assets/communities-coloring/cerro/cerro_school-75.png); }
        .section-distance .sct-illustration .coloring { background-image: url(../assets/communities-coloring/cerro/cerro_distance-75.png); }
      }
      &.fund-level-50 {
        .section-community .sct-illustration .coloring { background-image: url(../assets/communities-coloring/cerro/cerro_community-50.png); }
        .section-school .sct-illustration .coloring { background-image: url(../assets/communities-coloring/cerro/cerro_school-50.png); }
        .section-distance .sct-illustration .coloring { background-image: url(../assets/communities-coloring/cerro/cerro_distance-50.png); }
      }
      &.fund-level-25 {
        .section-community .sct-illustration .coloring { background-image: url(../assets/communities-coloring/cerro/cerro_community-25.png); }
        .section-school .sct-illustration .coloring { background-image: url(../assets/communities-coloring/cerro/cerro_school-25.png); }
        .section-distance .sct-illustration .coloring { background-image: url(../assets/communities-coloring/cerro/cerro_distance-25.png); }
      }
    }
    &.village-las-mercedes-km11 {
      &.fund-level-100 {
        .section-community .sct-illustration .coloring { background-image: url(../assets/communities-coloring/las-mercedes_km11/las-mercedes-km11_community-100.png); }
        .section-school .sct-illustration .coloring { background-image: url(../assets/communities-coloring/las-mercedes_km11/las-mercedes-km11_school-100.png); }
        .section-distance .sct-illustration .coloring { background-image: url(../assets/communities-coloring/las-mercedes_km11/las-mercedes-km11_distance-100.png); }
      }
      &.fund-level-75 {
        .section-community .sct-illustration .coloring { background-image: url(../assets/communities-coloring/las-mercedes_km11/las-mercedes-km11_community-75.png); }
        .section-school .sct-illustration .coloring { background-image: url(../assets/communities-coloring/las-mercedes_km11/las-mercedes-km11_school-75.png); }
        .section-distance .sct-illustration .coloring { background-image: url(../assets/communities-coloring/las-mercedes_km11/las-mercedes-km11_distance-75.png); }
      }
      &.fund-level-50 {
        .section-community .sct-illustration .coloring { background-image: url(../assets/communities-coloring/las-mercedes_km11/las-mercedes-km11_community-50.png); }
        .section-school .sct-illustration .coloring { background-image: url(../assets/communities-coloring/las-mercedes_km11/las-mercedes-km11_school-50.png); }
        .section-distance .sct-illustration .coloring { background-image: url(../assets/communities-coloring/las-mercedes_km11/las-mercedes-km11_distance-50.png); }
      }
      &.fund-level-25 {
        .section-community .sct-illustration .coloring { background-image: url(../assets/communities-coloring/las-mercedes_km11/las-mercedes-km11_community-25.png); }
        .section-school .sct-illustration .coloring { background-image: url(../assets/communities-coloring/las-mercedes_km11/las-mercedes-km11_school-25.png); }
        .section-distance .sct-illustration .coloring { background-image: url(../assets/communities-coloring/las-mercedes_km11/las-mercedes-km11_distance-25.png); }
      }
    }
    &.village-la-merced {
      &.fund-level-100 {
        .section-community .sct-illustration .coloring { background-image: url(../assets/communities-coloring/la-merced/la-merced_community-100.png); }
        .section-school .sct-illustration .coloring { background-image: url(../assets/communities-coloring/la-merced/la-merced_school-100.png); }
        .section-distance .sct-illustration .coloring { background-image: url(../assets/communities-coloring/la-merced/la-merced_distance-100.png); }
      }
      &.fund-level-75 {
        .section-community .sct-illustration .coloring { background-image: url(../assets/communities-coloring/la-merced/la-merced_community-75.png); }
        .section-school .sct-illustration .coloring { background-image: url(../assets/communities-coloring/la-merced/la-merced_school-75.png); }
        .section-distance .sct-illustration .coloring { background-image: url(../assets/communities-coloring/la-merced/la-merced_distance-75.png); }
      }
      &.fund-level-50 {
        .section-community .sct-illustration .coloring { background-image: url(../assets/communities-coloring/la-merced/la-merced_community-50.png); }
        .section-school .sct-illustration .coloring { background-image: url(../assets/communities-coloring/la-merced/la-merced_school-50.png); }
        .section-distance .sct-illustration .coloring { background-image: url(../assets/communities-coloring/la-merced/la-merced_distance-50.png); }
      }
      &.fund-level-25 {
        .section-community .sct-illustration .coloring { background-image: url(../assets/communities-coloring/la-merced/la-merced_community-25.png); }
        .section-school .sct-illustration .coloring { background-image: url(../assets/communities-coloring/la-merced/la-merced_school-25.png); }
        .section-distance .sct-illustration .coloring { background-image: url(../assets/communities-coloring/la-merced/la-merced_distance-25.png); }
      }
    }
    &.village-totoral-bajo {
      &.fund-level-100 {
        .section-community .sct-illustration .coloring { background-image: url(../assets/communities-coloring/totoral-bajo/totoral-bajo_community-100.png); }
        .section-school .sct-illustration .coloring { background-image: url(../assets/communities-coloring/totoral-bajo/totoral-bajo_school-100.png); }
        .section-distance .sct-illustration .coloring { background-image: url(../assets/communities-coloring/totoral-bajo/totoral-bajo_distance-100.png); }
      }
      &.fund-level-75 {
        .section-community .sct-illustration .coloring { background-image: url(../assets/communities-coloring/totoral-bajo/totoral-bajo_community-75.png); }
        .section-school .sct-illustration .coloring { background-image: url(../assets/communities-coloring/totoral-bajo/totoral-bajo_school-75.png); }
        .section-distance .sct-illustration .coloring { background-image: url(../assets/communities-coloring/totoral-bajo/totoral-bajo_distance-75.png); }
      }
      &.fund-level-50 {
        .section-community .sct-illustration .coloring { background-image: url(../assets/communities-coloring/totoral-bajo/totoral-bajo_community-50.png); }
        .section-school .sct-illustration .coloring { background-image: url(../assets/communities-coloring/totoral-bajo/totoral-bajo_school-50.png); }
        .section-distance .sct-illustration .coloring { background-image: url(../assets/communities-coloring/totoral-bajo/totoral-bajo_distance-50.png); }
      }
      &.fund-level-25 {
        .section-community .sct-illustration .coloring { background-image: url(../assets/communities-coloring/totoral-bajo/totoral-bajo_community-25.png); }
        .section-school .sct-illustration .coloring { background-image: url(../assets/communities-coloring/totoral-bajo/totoral-bajo_school-25.png); }
        .section-distance .sct-illustration .coloring { background-image: url(../assets/communities-coloring/totoral-bajo/totoral-bajo_distance-25.png); }
      }
    }
    &.village-las-mercedes {
      &.fund-level-100 {
        .section-community .sct-illustration .coloring { background-image: url(../assets/communities-coloring/las-mercedes/las-mercedes_community-100.png); }
        .section-school .sct-illustration .coloring { background-image: url(../assets/communities-coloring/las-mercedes/las-mercedes_school-100.png); }
        .section-distance .sct-illustration .coloring { background-image: url(../assets/communities-coloring/las-mercedes/las-mercedes_distance-100.png); }
      }
      &.fund-level-75 {
        .section-community .sct-illustration .coloring { background-image: url(../assets/communities-coloring/las-mercedes/las-mercedes_community-75.png); }
        .section-school .sct-illustration .coloring { background-image: url(../assets/communities-coloring/las-mercedes/las-mercedes_school-75.png); }
        .section-distance .sct-illustration .coloring { background-image: url(../assets/communities-coloring/las-mercedes/las-mercedes_distance-75.png); }
      }
      &.fund-level-50 {
        .section-community .sct-illustration .coloring { background-image: url(../assets/communities-coloring/las-mercedes/las-mercedes_community-50.png); }
        .section-school .sct-illustration .coloring { background-image: url(../assets/communities-coloring/las-mercedes/las-mercedes_school-50.png); }
        .section-distance .sct-illustration .coloring { background-image: url(../assets/communities-coloring/las-mercedes/las-mercedes_distance-50.png); }
      }
      &.fund-level-25 {
        .section-community .sct-illustration .coloring { background-image: url(../assets/communities-coloring/las-mercedes/las-mercedes_community-25.png); }
        .section-school .sct-illustration .coloring { background-image: url(../assets/communities-coloring/las-mercedes/las-mercedes_school-25.png); }
        .section-distance .sct-illustration .coloring { background-image: url(../assets/communities-coloring/las-mercedes/las-mercedes_distance-25.png); }
      }
    }
    &.village-totoral-alto {
      &.fund-level-100 {
        .section-community .sct-illustration .coloring { background-image: url(../assets/communities-coloring/totoral-alto/totoral-alto_community-100.png); }
        .section-school .sct-illustration .coloring { background-image: url(../assets/communities-coloring/totoral-alto/totoral-alto_school-100.png); }
        .section-distance .sct-illustration .coloring { background-image: url(../assets/communities-coloring/totoral-alto/totoral-alto_distance-100.png); }
      }
      &.fund-level-75 {
        .section-community .sct-illustration .coloring { background-image: url(../assets/communities-coloring/totoral-alto/totoral-alto_community-75.png); }
        .section-school .sct-illustration .coloring { background-image: url(../assets/communities-coloring/totoral-alto/totoral-alto_school-75.png); }
        .section-distance .sct-illustration .coloring { background-image: url(../assets/communities-coloring/totoral-alto/totoral-alto_distance-75.png); }
      }
      &.fund-level-50 {
        .section-community .sct-illustration .coloring { background-image: url(../assets/communities-coloring/totoral-alto/totoral-alto_community-50.png); }
        .section-school .sct-illustration .coloring { background-image: url(../assets/communities-coloring/totoral-alto/totoral-alto_school-50.png); }
        .section-distance .sct-illustration .coloring { background-image: url(../assets/communities-coloring/totoral-alto/totoral-alto_distance-50.png); }
      }
      &.fund-level-25 {
        .section-community .sct-illustration .coloring { background-image: url(../assets/communities-coloring/totoral-alto/totoral-alto_community-25.png); }
        .section-school .sct-illustration .coloring { background-image: url(../assets/communities-coloring/totoral-alto/totoral-alto_school-25.png); }
        .section-distance .sct-illustration .coloring { background-image: url(../assets/communities-coloring/totoral-alto/totoral-alto_distance-25.png); }
      }
    }
    &.village-carrizalillo {
      &.fund-level-100 {
        .section-community .sct-illustration .coloring { background-image: url(../assets/communities-coloring/carrizalillo/carrizalillo_community-100.png); }
        .section-school .sct-illustration .coloring { background-image: url(../assets/communities-coloring/carrizalillo/carrizalillo_school-100.png); }
        .section-distance .sct-illustration .coloring { background-image: url(../assets/communities-coloring/carrizalillo/carrizalillo_distance-100.png); }
      }
      &.fund-level-75 {
        .section-community .sct-illustration .coloring { background-image: url(../assets/communities-coloring/carrizalillo/carrizalillo_community-75.png); }
        .section-school .sct-illustration .coloring { background-image: url(../assets/communities-coloring/carrizalillo/carrizalillo_school-75.png); }
        .section-distance .sct-illustration .coloring { background-image: url(../assets/communities-coloring/carrizalillo/carrizalillo_distance-75.png); }
      }
      &.fund-level-50 {
        .section-community .sct-illustration .coloring { background-image: url(../assets/communities-coloring/carrizalillo/carrizalillo_community-50.png); }
        .section-school .sct-illustration .coloring { background-image: url(../assets/communities-coloring/carrizalillo/carrizalillo_school-50.png); }
        .section-distance .sct-illustration .coloring { background-image: url(../assets/communities-coloring/carrizalillo/carrizalillo_distance-50.png); }
      }
      &.fund-level-25 {
        .section-community .sct-illustration .coloring { background-image: url(../assets/communities-coloring/carrizalillo/carrizalillo_community-25.png); }
        .section-school .sct-illustration .coloring { background-image: url(../assets/communities-coloring/carrizalillo/carrizalillo_school-25.png); }
        .section-distance .sct-illustration .coloring { background-image: url(../assets/communities-coloring/carrizalillo/carrizalillo_distance-25.png); }
      }
    }

    // Descriptions
    .sct-description {
      margin: -1.5rem auto;
      max-width: 340px;
      @media screen and (max-width: $md) {
        padding-right: 10px;
        padding-left: 10px;
      }
    }
    .section-community .sct-description { min-height: 76px; }
    .section-school .sct-description { min-height: 141px; }
    .section-distance .sct-description { min-height: 166px; }
    .section-waterMCL .sct-description { min-height: 464px; }
    .section-solution .sct-description { min-height: 416px; }
    .section-coloring .sct-description { min-height: 308px; }
  }
}

.villages-wrapper {
  position: relative;
}
.current-village {
  position: fixed;
  z-index: 100;
  top: -1px;
  left: 0;
  right: 0;
  transform: translateY(-96px);
  transition: transform 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  h2 {
    margin: 0;
    padding: 30px 0;
  }
  &.visible {
    transform: translateY(0);
  }
}
.village,
.current-village {
  h2 {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 100%);
  }
}

.illustration-instructions {
  &.touch {
    display: none;
  }
  @media screen and (max-width: $md) {
    &.touch {
      display: block;
    }
    &.mouse {
      display: none;
    }
  }
}